SUPABASE_URL=https://cinbnmlfpffmyjmkwbco.supabase.co
SUPABASE_SERVICE_KEY=***************
RESEND_API_KEY="****************"
OPEN_ROUTER_SK=***************************
LLM_MODEL_NAME="x-ai/grok-4.1-fast"
FRONTEND_TRIP_BASE_URL="https://travliaq.com/recommendations/"
EMAIL_FROM="Travliaq <contact@travliaq.com>"
ENV="DEV"